body {
    margin-left: 160px; /* Same as the width of the sidenav */
  }
  
  #header {
    background-color: rgb(88, 88, 252);
    height: 36px;
    margin-top: 0;
    margin-left: 0;
  }
  
  h1 {
    color: white;
    margin-left: 160px; /* Same as the width of the sidenav */
  }
  
  #topNavBar {
    background-color: rgb(71, 241, 205);
    height: 200;
  }
  
  #topNavBar ul {
    margin: 0;
    padding: 6px;
  }
  
  #topNavBar ul li {
    display: inline;
    margin: 4px;
  }
  
  .navButton {
    color: rgb(58, 116, 241);
    text-decoration: none;
  }
  
  .post {
    background-color: green;
    margin: 10px 350px 10px 10px;
    padding: 8px;
    border-radius: 10px;
  }
  
  .post h3 {
    color: blue;
    margin: 0;
  }
  
  .imgside {
    width: 350px;
    float: right;
    clear: right;
  }
  
  .imgside2 {
    width: 350px;
    float: right;
    clear: right;
    bottom: auto;
  }

  #sidebar {
    background-color: cyan;
    width: 330px;
    float: right; 
    clear: right;
  }
  
  #sidebar ul li {
    list-style: none;
    margin-bottom: 6px;
  }
  
  .sidebarLink {
    text-decoration: none;
    color: blue;
  }
  
  #footer {
    height: 330px;
    background-color: rgb(110, 192, 224)
  }
  
  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-right: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  margin-right: auto;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;  
  margin-right: auto;

}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-right: auto;
}